@layer defaults.baseof            { 


:root {
    --max-width: auto;

    --menu-head-hight: calc(var(--main-font-size) * 5);
}


/*
  ========================================
  Utilities
  ========================================
*/

.m-hidden {
    display: none !important;
}


/*
  ========================================
  Defaults
  ========================================
*/


header {
    /*height: 50vh;*/
}



:root {
    --text-content-margin-left: 0.5ch;
    --text-content-margin-right: 0.5ch;
}


/*
  ========================================
  Utilities
  ========================================
*/ }




@layer components.baseof          { 




 }

@layer side-nav.baseof            { 


nav.side-nav {
    height: 68px;
    width: 100%;
}





 }
@layer primary-menu.baseof        { 









nav.primary-nav .zippy .zippy-overflow {
    top:            0           !important;
}

nav.primary-nav .zippy .zippy-content {
    padding-top:    var(--menu-head-hight);        !important;
}



nav.primary-nav > ul > li:not(:last-child)
                .zippy > .zippy-head {
/*    border-right: 1px solid hsl(216, 100%, 97%);*/
}

nav.primary-nav .zippy .zippy-head h2 {
/*    font-size:      1.2em;*/
    font-size:      1em;
}

nav.primary-nav .zippy ul.end-options h3 {
/*    font-size:      2.5rem;*/
    font-size:      2.3rem;
} }
@layer burger.baseof              { 


.burger {
    height: 68px;
/*    padding-right: 50px;*/
}
.burger > button {
    background-image: url("/assets/icons/menu_svg.svg");
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}
.burger.burger-on-menu > button {
    /*background: url("/assets/icons/menu_svg.svg") center/80% no-repeat;*/
}




 }
@layer roll-paper.baseof          { 





div:has(> .roll-paper) {
    display:        block;
}

 }
@layer aheader.baseof             { 





 }
@layer article.baseof             { 

 }
@layer primary-footer.baseof      { 




 }
@layer zippy.baseof               { 




.zippy .zippy-content::before {
    right:          1rem;
}
 }
@layer category-identifier.baseof { 





 }
@layer pagination.baseof          { 





 }
@layer bg.baseof                  { 





 }









@layer in-dev-cover.baseof        { 





 }
